.cards {
    margin: 0 auto;
    padding: 36px 0 0;
    list-style: none;
    width: 88%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    justify-content: center;
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (min-width: 1024px) {
    .cards {
        width: 69%;
        padding-top: 51px;
    }
}