.edit-form {
    display: none;
    position: fixed;
    top: 123px;
    left: 50%;
    margin-left: -141px;
}

@media screen and (min-width: 1024px) {
    .edit-form {
        top: 195px;
        margin-left: -215px;
    }
}