.edit-form {
    position: fixed;
    top: 123px;
    left: 50%;
    margin-left: -141px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 282px;
    height: 322px;

}

@media screen and (min-width: 1024px) {
    .edit-form {
        width: 430px;
        height: 330px;
        top: 195px;
        margin-left: -215px;
    }
}