.profile__paragrath {
    margin: 0;
    padding-bottom: 22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    transform: translate(0px, -13px);
}

@media screen and (min-width: 1024px) {
    .profile__paragrath {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        padding: 0;
        transform: translate(0px, -18px);
    }
}